body{
    /*background-image: linear-gradient(to bottom, rgba(24, 117, 211, 0.75),rgba(154, 40, 207, 0.75));*/
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.titleName{
    font-weight: bolder;
}

.between{
    display: inline;
}

#capsule{
    padding-left: 20px;
    padding-right: 20px;
    border: grey solid 1px;
    margin-left: 5%;
    margin-right: 5%;
    opacity: .8;
    background-color: blanchedalmond;
    
}

.servicesButton{
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

#miniScreen{
    font-size: x-large;
    text-align: center;
}

.screens{
    text-align: center;
    font-size: large;
}

#Laurie, #Megan, #Jenni, #Audrey {
    
    margin: 20px;
    overflow: auto;
    text-align: justify;
}

#aboutMegan, #aboutAudrey{
    display: inline;
}

#meganPic, #audreyPic{
    max-width: 25%;
    float: left;
    padding-right:10px;
    border-radius: 50%;
}

#aboutLaurie, #aboutJenni{
    display: inline;
}

#lauriePic, #jenniPic{
    max-width: 25%;
    float: right;
    padding-left:10px;
    border-radius: 50%;
}

#f{
    width: 20px;
    height: 20px;
}